.out {
    width: 100%;
}

/* ================header================ */

/* LOGO */
.logo_top {
    position: fixed;
    top: 0;
    left: 50%;
    width: 30%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.384);
    height: auto;
    transform: translate(-50%, 0);
    transition: all 0.5s ease-in-out;
    z-index: 10000;
}

/* LOGO下滑縮小 */
.shrink {
    width: 10%;
    top: 10px;
    left: 90%;
    transform: translate(0, 0);
}

/* ================header================ */




/* 主視覺影片 */
.media {
    margin-top: 200px;
}

/* 白遮罩 */
.white {
    margin: 0 auto;
    width: 100%;
    height: 52.234vw;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.322);
    z-index: 1;
    display: block;
}

video {
    position: relative;
}






/* ================main================ */

main {}

/* 料理.幸福 */
main .title {
    margin-bottom: 100px;
}

/* 字首放大 */
main .title p::first-letter {
    font-size: 1.5em;
}

main .title p {
    width: calc(100% - 50%);
    display: block;
    font-size: 3rem;
    line-height: 3;
    margin: 150px auto 300px;
    text-shadow: 3px 3px 1px rgba(250, 176, 2, 0.79);
}



/* 中間logo */
.pic .pic_logo img {
    display: block;
    margin: 300px auto;
}

/* 中間圖片 */
.pic .pic_main img {
    width: calc(100% - 40%);
    display: block;
    margin: 0 auto 300px;
    box-shadow: 23px 23px 25px 2px rgba(0, 0, 20, .6);
    /* border-radius: 25px; */

}

/* ================================================================ */

/* 直行文字-1 */
.right-to-left1 {
    font-size: 3rem;
    margin: 300px auto;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 直行字 */
    writing-mode: vertical-rl;
    /* text-orientation: upright; */
}

/* 北海道.醬汁*/
.right-to-left1 p {
    height: 500px;
    line-height: 2.5;
    text-shadow: 3px 3px 1px rgba(250, 176, 2, 0.79);
}

/* 浮世繪海右到左 */
.text_top img {
    position: absolute;
    width: 400px;
    right: -900px;
    bottom: 50px;
    transition: 1.5s;
}

/* ===================================== */

/* 直行文字-2 */
.right-to-left2 {
    font-size: 3rem;
    margin: 0 auto;
    position: relative;
    writing-mode: vertical-rl;
    text-shadow: 3px 3px 1px rgba(250, 176, 2, 0.79);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

/* title獨立包廂 */
.right-to-left-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: bold;
    line-height: 1.5;
}

/* 本店.日本 */
.right-to-left2 p {
    margin-right: 20px;
    line-height: 2.2;
}

/* 浮世繪海左到右 */
.text_down img {
    position: absolute;
    width: 380px;
    top: 100px;
    left: -1000px;
    transition: 1.5s;
}

/* ================================================================ */



/* 熱門推薦 */
main .menu .title h1 {
    margin: 200px auto 50px;
    width: 100%;
    text-align: center;
    font-size: 7rem;
}

/* 內容物 */
.container ul {
    display: flex;
    width: calc(100% - 28.5%);
    margin: 0 auto;
    flex-wrap: wrap;
}

.container li {
    flex-basis: 400px;
    margin: 0 25px 50px;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.container a {
    display: block;
    margin: 0 auto;
    color: #D4A373;
    text-decoration: none;
}

.container p {
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.container img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 20px;
}

/* 滑鼠碰到hover */
/* rwd吃不到 */
.container a:hover {
    color: #D4A373;
}

/* 滑鼠點過 */
a:visited {
    color: #666;
}

/* 圖片放大 */
.container li:hover {
    transform: scale(1.2);
}

/* 圖片陰影 */
.container img:hover {
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 20, .6);
}


.mySwiper{
    display: none;
}





















































/* ===================================414px=================================== */

@media (max-width: 414px) {


    /* 多出來的88 */
    .pic1,
    .pic2,
    .text_top img {
        display: none;
    }

    .out {
        width: 100%;
    }

    /* ================header================ */

    /* LOGO */
    .logo_top {

        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        margin: 40px auto;
        background-color: rgba(255, 255, 255, 0.384);
        height: auto;
        transform: translate(-50%, 0);
        transition: all 0.5s ease-in-out;
        z-index: 10000;
    }

    /* LOGO下滑縮小 */
    .shrink {
        width: 50%;
        top: 10px;
        left: 50%;
        transform: translate(0, 0);
    }

    /* ================header================ */




    /* 主視覺影片 */
    .media {
        margin-top: 200px;
    }

    /* 白遮罩 */
    .white {
        margin: 0 auto;
        width: 100%;
        height: 52.234vw;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.322);
        z-index: 1;
        display: block;
    }

    video {
        position: relative;
    }






    /* ================main================ */

    main {}

    /* 料理.幸福 */
    main .title {
        margin-bottom: 100px;
    }

    /* 字首放大 */
    main .title p::first-letter {
        font-size: 1em;
    }

    main .title p {
        width: calc(100% - 50%);
        display: block;
        font-size: 1.6rem;
        line-height: 2;
        margin: 50px auto;
        text-shadow: 3px 3px 1px rgba(250, 176, 2, 0.79);
    }



    /* 中間logo */
    .pic .pic_logo img {
        display: block;
        margin: 100px auto;
        width: 50%;
    }

    /* 中間圖片 */
    .pic .pic_main img {
        width: calc(100% - 40%);
        display: block;
        margin: 0 auto 300px;
        box-shadow: 23px 23px 25px 2px rgba(0, 0, 20, .6);
        /* border-radius: 25px; */

    }

    /* ================================================================ */

    /* 直行文字-1 */
    .right-to-left1 {
        font-size: 2rem;
        margin: 50px auto;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* 直行字 */
        writing-mode: vertical-rl;
        /* text-orientation: upright; */

    }

    /* 北海道.醬汁*/
    .right-to-left1 p {
        height: 200px;
        line-height: 2.5;
        text-shadow: 3px 3px 1px rgba(250, 176, 2, 0.79);
    }

    /* 移除多餘 */
    /* 浮世繪海右到左 */
    .text_top img {
        display: none;
        position: absolute;
        width: 400px;
        right: -900px;
        bottom: 50px;
        transition: 1.5s;
    }

    /* ===================================== */

    /* 移除多餘 */
    /* 直行文字-2 */
    .right-to-left2 {
        font-size: 3rem;
        margin: 0 auto;
        position: relative;
        writing-mode: vertical-rl;
        text-shadow: 3px 3px 1px rgba(250, 176, 2, 0.79);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        display: none;
    }

    /* 移除多餘 */
    /* title獨立包廂 */
    .right-to-left-title {
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-weight: bold;
        line-height: 1;
    }

    /* 移除多餘 */
    /* 本店.日本 */
    .right-to-left2 p {
        margin-right: 20px;
        line-height: 1;
    }

    /* 移除多餘 */
    /* 浮世繪海左到右 */
    .text_down img {
        display: none;
        position: absolute;
        width: 380px;
        top: 100px;
        left: -1000px;
        transition: 1.5s;
    }

    /* ================================================================ */



    /* 熱門推薦 */
    main .menu .title h1 {
        margin: 200px auto 50px;
        width: 100%;
        text-align: center;
        font-size: 7rem;
    }

    /* 內容物 */
    .container ul {
        display: flex;
        width: calc(100% - 28.5%);
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .container li {
        flex-basis: 400px;
        margin: 0 25px 50px;
        display: block;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
    }

    .container a {
        display: block;
        margin: 0 auto;
        color: #D4A373;
        text-decoration: none;
    }

    .container p {
        text-align: center;
        font-size: 2rem;
        margin-top: 10px;
        font-weight: bold;
        display: block;
    }

    .container img {
        display: block;
        margin: 0 auto;
        width: 100%;
        border-radius: 20px;
    }

    /* 滑鼠碰到hover */
    /* rwd吃不到 */
    .container a:hover {
        color: #D4A373;
    }

    /* 滑鼠點過 */
    a:visited {
        color: #666;
    }

    /* 圖片放大 */
    .container li:hover {
        transform: scale(1.2);
    }

    /* 圖片陰影 */
    .container img:hover {
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 20, .6);
    }


    .container .pc {
        display: none;
    }





    /* swiper995 */
    .mySwiper {
        margin-bottom: 200px;
        /* padding: 300px 0; */
    }

    swiper-container {
        width: 100%;
        height: 100%;
    }

    swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}