/* ================header================ */
/* LOGO */
.logo_top {
  position: fixed;
  top: 0;
  left: 50%;
  width: 30%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.384);
  height: auto;
  transform: translate(-50%, 0);
  transition: all 0.5s ease-in-out;
  z-index: 10000;
}

/* LOGO下滑縮小 */
.shrink {
  width: 10%;
  top: 10px;
  left: 90%;
  transform: translate(0, 0);
}

/* ================header================ */
/* 最新消息 */
header h1 {
  text-align: center;
  width: 100%;
  font-size: 7rem;
  margin: 0px auto;
  padding-top: 200px;
}
.container{
  display: flex;
  justify-content: center;
  width: 100vw;
}

/* 內容 */
.container ul {
  font-family: "微軟正黑體";
  display: flex;
  
  margin: 150px auto 0;
  flex-wrap: wrap;
  justify-content: start;
  margin-left: 200px;

}

/* 各自 */
.container li {
  /* outline: 5px solid green; */
  flex-basis: 400px;
  margin: 0 25px 50px;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

/* 內文標題 */
h2 {
  font-size: 2rem;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  margin: 0 auto;
  width: 100%;
}

/* 不用沒差 */
/* .container a {
  display: block;
  margin: 0 auto;
  outline: 5px solid yellow;
} */

/* 內文 */
.container p {
  font-family: '微軟正黑體';
  /* outline: 5px solid pink; */
  text-align: center;
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: bold;
  display: block;
  padding-top: 20px;
  line-height: 2;
  margin: 0 auto;
  width: 100%;
}

.container img {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  border-radius: 20px;
}

span {
  background-color: #D4A373;
  padding: 0 20px;
  line-height: 1.5;
  color: white;
  /* border: 5px solid red; */
  display: block;
  width: 50px;
  margin: 10px auto;
  border-radius: 10px;
}

.container a {
  color: #D4A373;
  text-decoration: none;
}

.container a:hover {
  color: #D4A373;
}

a:visited {
  color: #666;
}

.container span:hover {
  transform: scale(1.5);
  /* background-color: #dbdbdb91; */
  color: black;
}

/* 圖片放大 */
.container img:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 5px 2px rgba(0, 0, 20, .6);
}


/* 頁數 */
.but {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 30px;
  background-color: #D4A373;
  font-weight: bold;
  transition: background-color .5s ease;
  cursor: pointer;
  color: black;
}

button:hover {
  background-color: white;
}















































/* ===================================414px=================================== */

@media (max-width: 414px) {


/* ================header================ */

    /* LOGO */
    .logo_top {

      position: fixed;
      top: 0;
      left: 50%;
      width: 100%;
      margin: 40px auto;
      background-color: rgba(255, 255, 255, 0.384);
      height: auto;
      transform: translate(-50%, 0);
      transition: all 0.5s ease-in-out;
      z-index: 10000;
  }

  /* LOGO下滑縮小 */
  .shrink {
      width: 50%;
      top: 10px;
      left: 50%;
      transform: translate(0, 0);
  }

  /* ================header================ */
  /* 最新消息 */
  header h1 {
    text-align: center;
    width: 100%;
    font-size: 3rem;
    margin: 0px auto;
    padding-top: 200px;
  }

  /* 內容 */
  .container ul {
    font-family: "微軟正黑體";
    display: flex;
    width: 100%;
    margin: 30px auto 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  /* 各自 */
  .container li {
    /* outline: 5px solid green; */
    flex-basis: 400px;
    margin: 0 25px 50px;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
  }

  /* 內文標題 */
  h2 {
    font-size: 2rem;
    padding-top: 0px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    margin: 0 auto;
    width: 70%;
  }


  /* 不用沒差 */
  /* .container a {
  display: block;
  margin: 0 auto;
  outline: 5px solid yellow;
} */

  /* 內文 */
  .container p {
    font-family: '微軟正黑體';
    /* outline: 5px solid pink; */
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
    display: block;
    padding-top: 10px;
    line-height: 1.3;
    margin: 0 auto;
    width: 50%;
  }

  .container img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 90px;
    border-radius: 10px;
  }

  span {
    background-color: #D4A373;
    padding: 0 20px;
    line-height: 1.5;
    color: white;
    /* border: 5px solid red; */
    display: block;
    width: 50px;
    margin: 10px auto;
    border-radius: 10px;
  }

  .container a {
    color: #D4A373;
    text-decoration: none;
  }

  .container a:hover {
    color: #D4A373;
  }

  a:visited {
    color: #666;
  }


  .container span:hover {
    transform: scale(1.2);
    background-color: #dbdbdb91;
    color: black;
  }

  /* 圖片放大 */
  .container img:hover {
    transform: scale(1.2);
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 20, .6);
  }


  /* 頁數 */
  .but {
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
  }

  button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #D4A373;
    font-weight: bold;
    transition: background-color .5s ease;
    cursor: pointer;
    color: black;
  }

  button:hover {
    background-color: white;
  }
















}