/* ================header================ */
/* LOGO */
.logo_top {
    position: fixed;
    top: 0;
    left: 50%;
    width: 30%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.384);
    height: auto;
    transform: translate(-50%, 0);
    transition: all 0.5s ease-in-out;
    z-index: 10000;
}

/* LOGO下滑縮小 */
.shrink {
    width: 10%;
    top: 10px;
    left: 90%;
    transform: translate(0, 0);
}

/* ================header================ */
/* 菜單 */
header h1 {
    text-align: center;
    width: 100%;
    font-size: 7rem;
    margin: 0px auto;
    padding-top: 200px;
}

/* 圖 */
.media img {
    display: block;
    margin: 0 auto;
    position: relative;
    width: 70%;
}

/* 副標 */
.title h1 {
    margin: 50px auto;
    width: 100%;
    text-align: center;
    font-size: 5rem;
}





/* 內容 */
.container ul {
    font-family: "微軟正黑體";
    display: flex;
    width: 100%;
    margin: 150px auto 0;
    flex-wrap: wrap;
    justify-content: center;
}

/* 各自 */
.container li {
    /* outline: 5px solid green; */
    flex-basis: 400px;
    margin: 0 25px 50px;
    display: block;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

/* 內文標題 */
h2 {
    font-size: 2rem;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 0 auto;
    width: 100%;
}

/* 不用沒差 */
/* .container a {
    display: block;
    margin: 0 auto;
    outline: 5px solid yellow;
} */

/* 價格 */
.container p {
    font-family: '微軟正黑體';
    /* outline: 5px solid pink; */
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
}

.container img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    border-radius: 20px;
}


.container a {
    color: #D4A373;
    text-decoration: none;
}

.container a:hover {
    color: #D4A373;
}

a:visited {
    color: #666;
}


/* 圖片放大 */
.container li:hover {
    transform: scale(1.2);
}

.container img:hover {
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 20, .6);
}






/* 頁數 */
.but {
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 30px;
    background-color: #D4A373;
    font-weight: bold;
    transition: background-color .5s ease;
    cursor: pointer;
    color: black;
}

button:hover {
    background-color: white;
}




/* 瀏覽過菜單 */
h3 {
    font-size: 4rem;
    text-align: center;
    margin: 100px auto 20px;
    width: 100%;
}

/* 瀏覽過的 */
.past {
    width: 80%;
    margin: 0 auto;
    /* border: 5px solid red; */
    display: flex;
    padding: 100px 0 150px;
}

.past ul {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}


/* 各自 */
.past li {
    /* border: 5px solid blue; */
    margin: 0 50px;
    width: 150px;
    cursor: pointer;
}

.past a {
    text-decoration: none;
}

.past img {
    width: 100%;
}


/* 圖片放大 */
.past li:hover {
    transform: scale(1.2);
}

.past img:hover {
    box-shadow: 3px 3px 5px 2px rgba(0, 0, 20, .6);
}

















































/* ===================================414px=================================== */

@media (max-width: 414px) {


    /* ================header================ */
    /* LOGO */
    .logo_top {
        position: fixed;
        top: 0;
        left: 50%;
        width: 30%;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.384);
        height: auto;
        transform: translate(-50%, 0);
        transition: all 0.5s ease-in-out;
        z-index: 10000;
    }

    /* LOGO下滑縮小 */
    .shrink {
        width: 50%;
        top: 10px;
        left: 50%;
        transform: translate(0, 0);
    }
    /* ================header================ */
    /* 菜單 */
    header h1 {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        margin: 0px auto;
        padding-top: 100px;
    }

    /* 圖 */
    .media img {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 70%;
    }

    /* 副標 */
    .title h1 {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        margin: 0px auto;
        padding-top: 100px;
    }
    /* 內容 */
    .container ul {
        font-family: "微軟正黑體";
        display: flex;
        width: 100%;
        margin: 150px auto 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* 各自 */
    .container li {
        /* outline: 5px solid green; */
        flex-basis: 400px;
        margin: 0 25px 50px;
        display: block;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        transform: scale(1);
    }

    /* 內文標題 */
    h2 {
        font-size: 2rem;
        padding-top: 20px;
        text-align: center;
        font-weight: bold;
        color: black;
        margin: 0 auto;
        width: 100%;
    }

    /* 不用沒差 */
    /* .container a {
    display: block;
    margin: 0 auto;
    outline: 5px solid yellow;
} */

    /* 價格 */
    .container p {
        font-family: '微軟正黑體';
        /* outline: 5px solid pink; */
        text-align: center;
        font-size: 1.5rem;
        margin-top: 10px;
        font-weight: bold;
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 20px;
    }

    .container img {
        display: block;
        margin: 0 auto;
        width: 300px;
        height: 200px;
        border-radius: 20px;
    }
    .container a {
        color: #D4A373;
        text-decoration: none;
    }

    .container a:hover {
        color: #D4A373;
    }

    a:visited {
        color: #666;
    }

    /* 圖片放大 */
    .container li:hover {
        transform: scale(1.2);
    }

    .container img:hover {
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 20, .6);
    }



    /* 頁數 */
    .but {
        margin: 0 auto;
        text-align: center;
        padding-top: 50px;
    }

    button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0 5px;
        background-color: #D4A373;
        font-weight: bold;
        transition: background-color .5s ease;
        cursor: pointer;
        color: black;
    }

    button:hover {
        background-color: white;
    }




    /* 瀏覽過菜單 */
    h3 {
        font-size: 4rem;
        text-align: center;
        margin: 100px auto 20px;
        width: 100%;
    }

    /* 瀏覽過的 */
    .past {
        width: 80%;
        margin: 0 auto;
        /* border: 5px solid red; */
        display: flex;
        padding: 100px 0 150px;
    }

    .past ul {
        width: 100%;
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    /* 各自 */
    .past li {
        /* border: 5px solid blue; */
        margin: 0 50px;
        width: 150px;
        cursor: pointer;
    }

    .past a {
        text-decoration: none;
    }

    .past img {
        width: 100%;
    }


    /* 圖片放大 */
    .past li:hover {
        transform: scale(1.2);
    }

    .past img:hover {
        box-shadow: 3px 3px 5px 2px rgba(0, 0, 20, .6);
    }


























































}