.out {
    width: 100%;
}


/* ================header================ */



/* LOGO */
.logo_top {

    position: fixed;
    top: 0;
    left: 50%;
    width: 30%;
    /* padding: 200px auto; */
    margin: 0 auto;
    /* border: 5px solid red; */
    background-color: rgba(255, 255, 255, 0.384);
    height: auto;
    transform: translate(-50%, 0);
    transition: all 0.5s ease-in-out;
  }
  
  
  
  .logo {
    width: 100%;
    /* display: flex;
    justify-content: center; */
    height: 200px;
  }
  
  .logo a {
    width: 100%;
    height: 200px;
    display: block;
    /* outline: 1px solid tomato; */
  
  }
  
  /* LOGO下滑縮小 */
  .shrink {
    width: 10%;
    top: 10px;
    left: 90%;
    transform: translate(0, 0);
    /* justify-self: start; */
  }
  
  
  
  

header .logo {
    /* border: 3px solid red; */
    width: 450px;
    display: block;
    margin: 50px auto 0;

}

/* 標題 */

header h1 {
    text-align: center;
    width: 500px;
    font-size: 7rem;
    margin: 0px auto;
    padding-top: 200px;
}







/* ================wrapper================ */






/* ================main================ */



/* h1 {
    margin: 200px auto 50px;
    width: 900px;
    text-align: center;
    font-size: 32px;
    border: 5px solid red;
} */


.menu h1{
    /* border: 2px solid red; */
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
}



.but {
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

button {
    /* width: 40px; */
    /* height: 40px; */
    border-radius: 10%;
    margin: 0 30px;
    background-color: #D4A373;
    font-weight: bold;
    transition: background-color .5s ease;
    cursor: pointer;
    
}

button:hover {
    background-color: white;
}


.but a {
    line-height: 1.3;
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
}














/* ==================store================== */
.store {
    /* border: 5px solid red; */
    padding-bottom: 100px;
}

.store ul {

    /* border: 5px solid blue; */
    width: 70%;
    margin: 0 auto;
}

.store li {
    display: flex;
    border-bottom: 5px double #D4A373;
    justify-content: space-around;
    position: relative;
    padding: 50px;
    margin: 50px;
    /* outline: 5px solid red; */
}

.store .text{
    /* border: 2px solid brown; */
    padding-top: 2%;
    margin: 0 20px;
}
.store h2 {
    /* border: 2px solid rgb(172, 194, 48); */
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 30px;
    text-align: center;
    letter-spacing: 5px;

}

.store p {
    font-family: '微軟正黑體';
    /* border: 2px solid rgb(255, 0, 191); */
    line-height: 2;
    letter-spacing: 5px;
    width: 300px;
    text-align: left;
    margin-top: 30px;
}

.store img {
    /* border: 2px solid rgb(18, 217, 252); */
    width: 400px;
    height: 300px;
}

p span {
    /* border: 5px solid red; */

    /* 按鈕 */
    background-color: #D4A373;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 15px;
    display: block;
    line-height: 2;
    color: white;

    /* 位置 */
    position: absolute;
    top: 80%;
}

p span:hover{
    /* background-color: #FAEDCD; */
    background-color: #d6d6d6;
    cursor: pointer;
}

/* ==================store================== */
