/* ================header================ */

header {}

/* 標題 */

h1 {
    text-align: center;
    width: 500px;
    font-size: 50px;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 150px;
}

h2 {
    text-align: center;
    width: 55%;
    font-size: 32px;
    margin: 0px auto;
}

h3 {
    font-family: '微軟正黑體';
    text-align: center;
    width: 55%;
    font-size: 24px;
    margin: 0px auto;
}


.label {
    font-family: '微軟正黑';
    /* border: 5px solid rgb(179, 241, 6); */
    width: 50%;
    margin: 0 auto;
    padding: 100px 0;
}

h6 {
    color: red;
    float: right;
    padding-right: 380px;
    padding-top: 30px;
    font-size: 16px;
    /* border: 5px solid rgb(30, 255, 0); */
    margin: 0 auto;

}

.label ul {
    /* border: 5px solid green; */
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
}

.label li {
    border: 5px dashed pink;
    width: 65%;
    margin: 0 auto 20px;
    padding: 20px;
}


input{
    font-size: 20px;
}




p span{
    color: red;
}




.but {
    display: flex;
    justify-content:center;
}

.but-l,.but-r {
    
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #D4A373;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.but-l:hover,.but-r:hover {
    background-color: #d6d6d6;
}


select{

    font-size: 19.2px;
}

option{
    
    font-size: 14px;
}


.checkbox {
    background-color:black;
    transform: scale(2);
    border-radius: 20px;
  }