/* ================header================ */

header {}

/* 標題 */

h1 {
    text-align: center;
    width: 500px;
    font-size: 50px;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 150px;
}

h2 {
    text-align: center;
    width: 500px;
    font-size: 32px;
    margin: 0px auto;
}

main {
    /* border: 5px solid blue; */
    width: 70%;
    margin: 0 auto;
    padding: 100px 0 200px;
    text-align: center;
}

/* 選單title */
label{
    /* border: 2px dashed green; */
    /* font-weight: bold; */
    width: 200px;
    display: block;
    margin: 10px auto;
    text-align: left;
    font-size: 22px;
}

/* 日期 */
input{
    font-size: 24px;
}
select{
    font-size: 24px;
    margin: 10px;
}
option{
    font-size: 16px;
}


.select{
    /* border: 5px solid brown; */
    margin: 50px;
}

.select #people_ad{
    /* border: 5px solid sandybrown; */
    width: 90px;
}

.select #people_chi{
    /* border: 5px solid sandybrown; */
    width: 90px;
}

.select #time{
    /* border: 50px solid sandybrown; */
    width: 200px;
}

.select #restaurant{
    width: 200px;
}




.con{
    /* border: 2px solid dodgerblue; */
    
}

.con li{
    /* border: 2px solid sandybrown; */
    width: 500px;
    margin: 0 auto 50px;
}

.con p{
    /* border: 5px solid red; */
    width: 60px;
    text-align: left;
    font-size: 22px;
    font-weight: normal;



    width: 200px;
    display: block;
    margin: 10px auto;
    text-align: left;
    font-size: 22px;
}

.con input{
    /* border: 20px solid yellow; */
    width: 200px;
    
    font-size: 24px;
}



button{
    margin: 50px auto;
    font-size: 22px;
    background-color: #D4A373;
    border-radius: 5px;
}

button:hover{
    background-color: #d6d6d6;
}


button a{
    text-decoration: none;
    color: white;
}


