html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* 背景.字體 */
body {
    font-family: arial, 'Yuji Boku', '微軟正黑', serif;
    background-image: url("../img/background/bg_c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/* 竹 */
.wrapper {
    background-image:
        url("../img/icon/bamboo.svg");

    background-repeat:
        repeat-y;

    background-position:
        left top;
    background-size:
        150px auto;
}

/* ====================================================== */
/* 側邊 */
.side_menu {
    z-index: 1000;
    position: absolute;
    transition: .4s;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.side_menu ul {
    /* outline: 5px solid palevioletred; */
    list-style: none;
    right: 0;
    writing-mode: vertical-rl;
    display: flex;
}

.side_menu li {
    /* outline: 5px solid rgb(16, 221, 30); */
    margin-bottom: 10px;
    line-height: 1.5;
    width: 100%;
}

.side_menu a {
    /* outline: 5px solid rgb(22, 22, 244); */
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    background-color: #D4A373;
    color: white;
    /* font-weight: bold; */
    text-align: center;
    transition: background-color 0.3s ease;
}

.side_menu a:hover {
    background-color: #ddd;
    color: black;
    font-weight: bold;
}

/* ====================================================== */
/* 訂位炸蝦 */
.bottom_side_menu {
    /* outline: 2px solid red; */
    z-index: 1000;
    position: absolute;
    top: 80%;
    transition: .4s;
    right: 0;
    transform: translateY(-50%);
    margin-right: 50px;
}

.bottom_side_menu ul {
    list-style: none;
    padding: 0;
}

.bottom_side_menu li {
    margin-bottom: 10px;
}

.bottom_side_menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
}

/* 蝦子本體 */
.bottom_side_menu img {
    display: block;
    margin: 0 auto;
}

/* 搖 */
.bottom_side_menu:hover img:nth-child(1) {
    animation: gogo .01s alternate infinite;
    /* < 0.01=影分身 不要影分身0.1 */
    /* if不要搖頭搖尾巴 child(2) 秒數0.01 */
    transform-origin: bottom;
}

@keyframes gogo {
    0% {
        transform: rotate(30deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-30deg);
    }

}

/* 蝦子hover */
.bottom_side_menu a:hover {
    color: rgb(197, 82, 5);
    font-weight: bold;
    font-size: 1.7rem;
}

/* ====================================================== */
/* footer */
footer {
    background-color: #dbdbdb91;
    overflow: hidden;
}

/* 底下LOGO */
.logo_but {
    float: left;
    width: 300px;
}

/* 電話 */
footer p {
    text-align: justify;
    line-height: 2.5;
}

.time {
    text-align: center;
    line-height: 2;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

/* ==================================== */

/* 社群icon */
footer ul {
    /* border: 2px solid yellowgreen; */
    float: right;
    font-size: 30px;
    color: chartreuse;
    line-height: 2.5;
    padding-right: 20px;
    margin: 0 auto;
}

/* icon */
i {
    /* border: 5px solid red; */
    color: black;
    margin: 0;
}


/* 網頁版漢堡不用她 */
.menu-icon {
    display: none;
}

.side_menu414 ul {
    display: none;
}

.side_menu414 li a {
    display: block;
    text-decoration: none;
    color: white;
}

.side_menu414 li a:visited {
    color: #999;
}






































/* ===================================414px=================================== */

@media (max-width: 414px) {

    html {
        font-size: 62.5%;
    }

    /* 背景.字體 */
    body {
        font-family: arial, 'Yuji Boku', '微軟正黑', serif;
        background-image: url("../img/background/bg_cc.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
    }

    /* 竹 */
    .wrapper {
        background-image:
            url("../img/icon/bamboo.svg");

        background-repeat:
            repeat-y;

        background-position:
            left top;
        background-size:
            50px auto;
    }

    /* ====================================================== */
    /* 側邊 */
    /* 414漢堡 */
    .menu-icon {
        /* display: block; */
        background: #eb8d35;
        padding: 5px;
        display: flex;
        color: #fff;
        font-family: 'Dosis';
        justify-content: center;
        align-items: center;
        position: fixed;
        font-size: 1.5rem;
        line-height: 2;
        top: 0;
        width: 100%;
        z-index: 2000000;
    }


    .menu-icon img {
        width: 40px;
    }

    .side_menu414 {
        width: 100%;
        position: absolute;
        top: 40px;
        left: 0;
        position: fixed;
        z-index: 2000000;
    }

    .side_menu414>ul {
        flex-direction: column;
    }

    .side_menu414>ul>li {
        display: block;
        background-color: rgb(238, 188, 96);
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #333;
        flex: 1 1 0%;
    }


    /* pc用在414沒用 */
    .side_menu {
        z-index: 1000;
        position: absolute;
        transition: .4s;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        display: none;
    }
    .side_menu ul {
        /* outline: 5px solid palevioletred; */
        list-style: none;
        right: 0;
        writing-mode: vertical-rl;
        display: flex;
    }

    .side_menu li {
        /* outline: 5px solid rgb(16, 221, 30); */
        margin-bottom: 10px;
        line-height: 1.5;
        width: 100%;
    }

    .side_menu a {
        /* outline: 5px solid rgb(22, 22, 244); */
        display: block;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 10px;
        border-radius: 10px;
        background-color: #D4A373;
        color: white;
        /* font-weight: bold; */
        text-align: center;
        transition: background-color 0.3s ease;
    }

    .side_menu a:hover {
        background-color: #ddd;
        color: black;
        font-weight: bold;
    }

    /* ====================================================== */
    /* 訂位炸蝦 */
    .bottom_side_menu {
        /* outline: 2px solid red; */
        z-index: 1000;
        position: absolute;
        top: 80%;
        transition: .4s;
        right: 0;
        transform: translateY(-50%);
        margin-right: 50px;

        display: none;
    }

    .bottom_side_menu ul {
        list-style: none;
        padding: 0;
    }

    .bottom_side_menu li {
        margin-bottom: 10px;
    }

    .bottom_side_menu a {
        display: block;
        text-decoration: none;
        color: #333;
        padding: 10px;
        width: 70px;
        text-align: center;
        border-radius: 10px;
        color: black;
        font-weight: bold;
        transition: background-color 0.3s ease;
        font-size: 1.5rem;
    }

    /* 蝦子本體 */
    .bottom_side_menu img {
        display: block;
        margin: 0 auto;
    }

    /* 搖 */
    .bottom_side_menu:hover img:nth-child(1) {
        animation: gogo .001s alternate infinite;
        /* < 0.01=影分身 不要影分身0.1 */
        /* if不要搖頭搖尾巴 child(2) 秒數0.01 */
        transform-origin: bottom;
    }

    @keyframes gogo {
        0% {
            transform: rotate(30deg);
        }

        50% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-30deg);
        }

    }

    /* 蝦子hover */
    .bottom_side_menu a:hover {
        color: rgb(197, 82, 5);
        font-weight: bold;
        font-size: 1.7rem;
    }

    /* ====================================================== */
    /* footer */
    footer {
        background-color: #dbdbdb91;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }

    /* 底下LOGO */
    .logo_but {
        /* float: left; */
        width: 100px;
        margin: 0 auto;
    }

    /* 電話 */

    .time {
        text-align: center;
        line-height: 1;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }

    /* ==================================== */

    /* 社群icon */
    footer ul {
        /* border: 2px solid yellowgreen; */
        float: right;
        font-size: 30px;
        color: chartreuse;
        line-height: 1;
        padding-right: 20px;
    }

    /* icon */
    i {
        /* border: 5px solid red; */
        color: black;
        margin: 0;
    }












































}