/* ================header================ */

header {}

header .logo {
    /* border: 3px solid red; */
    width: 450px;
    display: block;
    margin: 50px auto 0;

}


.wrapper {}

.wrapper .top {
    margin: 50px 0;
}

.wrapper .top .media {}

.wrapper .top .media img {
    display: block;
    margin: 0 auto;
    width: 100%;
    /* width: 1920px; */
    /* max-width: 100vw; */

}





/* ================main================ */

main {}

main .title {
    margin-bottom: 100px;
}

main .title p {
    width: 600px;
    display: block;
    font-size: 28px;
    line-height: 3;
    margin: 0 auto;

}

/* 字首放大 */
main .title p::first-letter {
    font-size: 2em;
}




.pic .pic_logo img {
    display: block;
    margin: 0 auto 300px;
}

.pic .pic_main img {
    width: 1080px;
    display: block;
    margin: 0 auto 300px;
}


main .right-to-left1 {
    font-size: 32px;
    margin: 0 auto;
    position: relative;
    height: 500px;
    /* outline:1px solid tomato; */
    width: 1200px;
    display: flex;
    justify-content: center;align-items: center;
    margin-bottom: 300px;

}



/* 反轉圖片 */
.text_top img {
    position: absolute;
    /* right: 0px; */
    /* bottom: -3640px; */
    transform: scaleX(-1);
    width: 750px;
    right: -240px;
    bottom: -240px;
    display: block;
}
/* ===========================================================done */




/* 直行字 */
main .right-to-left1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 4;

    


}








.right-to-left2 {
    margin: 0 auto;
    font-size: 32px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 4;

}

/* title獨立包廂 */
.right-to-left-title {
    writing-mode: vertical-rl;
    text-orientation: upright;
    line-height: 4;
    font-weight: bold;
    font-size: 42px;
}

.right-to-left2 p {
    margin-right: 20px;
}


.text_down img {
    /* display: block; */
    width: 750px;
}


main .menu .title h1 {
    margin: 200px auto 50px;
    width: 900px;
    text-align: center;
    font-size: 68px;
    /* border: 5px solid red; */
}











.menu .container ul {
    /* outline: 5px solid red; */
    margin: 0 auto;
    width: 1920px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.menu .container ul li {
    /* outline: 5px solid blueviolet; */
}

.menu .container ul li img {
    /* outline:  5px solid blue; */
    flex-basis: 40%;
    margin: 80px;
}


.menu .container ul li a {
    /* outline: 5px solid green; */

}

.menu .container ul li p{
    font-size: 28px;
    text-align: center;
}






